name: Auto Update Image Line (No Deploy)

on:
  repository_dispatch:
    types: [update-image]
  workflow_dispatch:
    inputs:
      controller_tag:
        required: false
      controller_image:
        required: false

permissions:
  contents: write
  pull-requests: write

env:
  FILE_PATH: deployment.yaml
  OLD_IMAGE: jenkins/jenkins:lts-jdk17

jobs:
  update-file:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Determine Image
        id: img
        run: |
          FULL="${{ github.event.client_payload.controller_image }}"
          [ -z "$FULL" ] && FULL="${{ github.event.inputs.controller_image }}"
          TAG="${{ github.event.client_payload.controller_tag }}"
          [ -z "$TAG" ] && TAG="${{ github.event.inputs.controller_tag }}"
          if [ -z "$FULL" ]; then
            FULL="docker.io/nareshd2/jenkins-master:${GITHUB_SHA::7}"
          fi
          echo "IMAGE=$FULL" >> $GITHUB_OUTPUT
          echo "Using: $FULL"

      - name: Replace image using sed (safe)
        run: |
          FILE="${FILE_PATH}"
          NEW_IMAGE="${{ steps.img.outputs.IMAGE }}"

          echo "Before:"
          grep -n "image:" "$FILE" || true

          sed -i "s|image: ${OLD_IMAGE}|image: ${NEW_IMAGE}|" "$FILE"

          echo "After:"
          grep -n "image:" "$FILE" || true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "Update Jenkins image to ${{ steps.img.outputs.IMAGE }}"
          branch: "auto/update-jenkins-image"
          delete-branch: true
          title: "Update Jenkins image to ${{ steps.img.outputs.IMAGE }}"
          body: |
            Automated update of Jenkins controller image.
            New image: `${{ steps.img.outputs.IMAGE }}`
